<html>
	<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="theme-color" content="#1E325E">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
        <link rel="icon" href="/favicon.png" type="image/x-icon"/>
		<title>{% if page.title != nil %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
		<style>
			{% include style.html %}
		</style>
	</head>
	<body>
		<header>
		</header>
		<div class="wrapper">
			{{ content }}
		</div>
		<footer>
			123123123123
		</footer>
	</body>
</html>
