body{
	margin: 0;
	color: #444;
	line-height: 30px;
	font-family: 'Noto Serif SC', serif;
	font-size: 18px;
}

.wrapper{
	width: 640px;
    margin: 50px auto 0 auto;
    background: #FFF;
    border-radius: 8px;
}
.post-card{
	border: 1px solid #EEE;
	margin-bottom: 30px;
	padding: 20px;
}
.post-card a{
	color: #444;
	text-decoration: none;
}
.post-title {
    font-size: 20px;
    overflow: hidden;
    border-bottom: 2px dotted #EEE;
    display: inline;
    padding-bottom: 3px;
    padding-bottom: 3px;
    margin: 20px 0px 10px 0px;
}