body{
    margin: 0;
    color: #222;
    line-height: 30px;
    font-family: 'Nunito', 'Noto Serif SC', serif;
    font-size: 20px;
    letter-spacing: 1px;
	background:#F7F9FB;
}

a {
	transition: .2s;
	color: #999;
	border-bottom: 1px solid;
	text-decoration: none;
}

a:hover{
	color: #2A6DF4;
}

strong {
    font-weight: normal;
    background: #FFF6BA;
}

header {
    padding: 1.25em 0;
    -webkit-backdrop-filter: saturate(180%) blur(1em);
    backdrop-filter: saturate(180%) blur(1em);
    background: linear-gradient(90deg, rgba(247,149,51,0.1) 0, rgba(243,112,85,0.1) 15%, rgba(239,78,123,0.1) 30%, rgba(161,102,171,0.1) 44%, rgba(80,115,184,0.1) 58%, rgba(16,152,173,0.1) 72%, rgba(7,179,155,0.1) 86%, rgba(109,186,130,0.1) 100%);
    position: fixed;
    width: 100%;
    top: 0;
}
footer {
    text-align: center;
    color: #999;
    padding: 3em 0;
    font-size: 0.8em;
}
.nf{
	background:#FFF;
	padding-bottom: 4em;
	box-shadow: 0px 1px 15px rgba(0,0,0,0.06);
}
.header-stand{
	height: calc(2.5em + 27px);
	margin-bottom: 10px;
}
.wrapper{
	width: 660px;
	padding: 0 20px;
	margin: auto;
	overflow: hidden;
}
.site-title{
	font-weight: 900;
	font-size: 27px;
	color: #222;
	text-decoration: unset;
}
.site-title:hover{
	color: #555
}
.post-card, .post-card-index{
	padding: 20px 0;
    border-bottom: 1px dotted #EEE;
	line-height: 1.8;
}
.post-card p{
	text-indent: 2em
}
.post-info{
	border-bottom: 1px dotted #EEE;
    font-size: 0.83em;
    color: #999;
    margin: 0;
    padding: 0.8em 0;
	line-height: 1.5em;
}
.editme{
	color:#333;
	float: right
}
.post-info-index {
    font-size: 0.83em;
    color: #999;
    margin: 0;
    padding: 0.4em 0;
	line-height: 1.5em;
}
.post-title {
	font-size: 23px;
    overflow: hidden;
    margin: 10px 0;
    text-align: center;
}
.page-title{
	font-size: 30px;
	text-align: center;
	margin: 1.4em 0 0 0;
}
.post-excerpt {
    margin: 0;
}
.post-link {
    color: #222;
    text-decoration: unset;
    border-bottom: 2px dotted #EEE;
}

@media screen and (max-width:700px) {
	body{
		font-size: 16px;
	}
	.wrapper{
		width: calc(100% - 40px);
	}
	header {
		padding: 1.2em 0;
	}
	.post-title {
		font-size: 20px;
		margin: 8px 0;
	}
	.page-title{
		font-size: 23px;
	}
	.header-stand{
		height: calc(2.4em + 27px);
	}
}
