body{
    margin: 0;
    color: #222;
    line-height: 30px;
    font-family: 'Noto Serif SC', serif;
    font-size: 20px;
    text-align: justify;
}

a {
	transition: .2s
}
header {
    padding: 1.25em 0;
    backdrop-filter: saturate(180%) blur(1em);
    background: linear-gradient(45deg, rgba(247,149,51,0.1) 0, rgba(243,112,85,0.1) 15%, rgba(239,78,123,0.1) 30%, rgba(161,102,171,0.1) 44%, rgba(80,115,184,0.1) 58%, rgba(16,152,173,0.1) 72%, rgba(7,179,155,0.1) 86%, rgba(109,186,130,0.1) 100%);
    position: fixed;
    width: 100%;
    top: 0;
}
.header-stand{
	height: calc(2.5em + 27px);
	margin-bottom: 10px;
}
.wrapper{
	width: 660px;
	padding: 0 20px;
	margin: auto;
}
.site-title{
	font-weight: 900;
	font-size: 27px;
	color: #222;
	text-decoration: unset;
}
.site-title:hover{
	color: #555
}
.post-card{
	padding: 20px 0;
    border-bottom: 3px dotted #EEE;
	line-height: 1.8;
}
.post-card a{
	color: #222;
	text-decoration: none;
}
.post-title {
	font-size: 23px;
    overflow: hidden;
    margin: 10px 0;
    text-align: center;
	color: #555;
}
.post-excerpt {
    margin: 0;
}
.post-link {
    color: #222;
    text-decoration: unset;
}

@media screen and (max-width:700px) {
	body{
		font-size: 16px;
	}
	.wrapper{
		width: calc(100% - 40px);
	}
	header {
		padding: 1.2em 0;
	}
	.post-title {
		font-size: 20px;
		margin: 8px 0;
		color: #555;
	}
	.header-stand{
		height: calc(2.4em + 27px);
	}
}