<html>
	<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="theme-color" content="#F7F0F6">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
        <link rel="icon" href="/favicon.png" type="image/x-icon"/>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
		<title>{% if page.title != nil %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
		<style>
			{% include style.html %}
		</style>
	</head>
	<body>
		<div class="header-stand"></div>
		<header>
			<div class="wrapper"><a href="{{ site.url }}" class="site-title">{{ site.title }}</a></div>
		</header>
		<div class="wrapper">
			<div class="head-menu"></div>
			<div class="head-site-info"></div>
			{{ content }}
			<footer>
			&copy; {{ site.time | date: "%Y" }} {{ site.title }}
		</footer>
		</div>
	</body>
</html>
